/* @import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"); */

.css-10hburv-MuiTypography-root {
  font-size: 11pt;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}

.NavLabel {
  font-family: "Varela Round", sans-serif;
  margin-left: 10px;
  font-size: 6pt;
  /* opacity: "open ? 1 : 0"; */
}
.NavLogo {
  font-family: "Varela Round", sans-serif;
  margin-left: 20px;
  font-size: 25pt;
  text-align: center;
  justify-content: center;
  color: #f14722;
}

@media (max-width: 880px) {
  .NavLabel {
    opacity: 0;
  }
}
